.chatList {
  flex: 1;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    flex: auto;
    max-height: 25svh;
  }
  .search {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;

    @media screen and (max-width: 768px) {
      gap: 5px;
      padding: 0px 4px;
    }

    .searchBar {
      flex: 1;
      background-color: var(--background-50);
      display: flex;
      align-items: center;
      border-radius: 10px;
      padding: 10px;

      input {
        background-color: transparent;
        border: none;
        outline: none;
        color: var(--text-900);
        flex: 1;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }

    .add {
      width: 36px;
      height: 36px;
      background-color: transparent;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  .accounts {
    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 20px;
    }

    .item {
      display: flex;
      gap: 20px;
      padding: 20px;
      cursor: pointer;
      border-bottom: 2px solid var(--background-100);

      @media screen and (max-width: 768px) {
        gap: 10px;
        padding: 0px;
        border-bottom: none;
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;

        @media screen and (max-width: 768px) {
          width: 40px;
          height: 40px;
        }
      }

      .texts {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        span {
          font-weight: 500;

          @media screen and (max-width: 768px) {
          }
        }

        p {
          font-size: 14px;
          font-weight: 300;
        }
      }
    }
  }
}
