.detail {
  display: flex;
  flex-direction: column;

  .info {
    padding: 20px;
    display: flex;
    gap: 25px;

    button {
      padding: 10px;
      background-color: var(--accent-400);
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: var(--accent-500);
      }

      &.logout {
        padding: 10px;
        background-color: var(--primary-600);
      }
    }
  }
}
