.login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 100px;

  @media screen and (max-width: 768px) {
    height: auto;
    width: auto;
    flex-direction: column;
    gap: 0;
    margin: auto;
  }

  .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @media screen and (max-width: 768px) {
      flex: none;
      padding-bottom: 2rem;
      padding-top: 2rem;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;

      input {
        padding: 20px;
        border: none;
        outline: none;
        border-radius: 5px;
        background-color: var(--background-50);
      }

      label {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        text-decoration: underline;

        img {
          width: 50px;
          height: 50px;
          border-radius: 10px;
          object-fit: cover;
          opacity: 0.6;
        }
      }

      button {
        width: 100%;
        padding: 20px;
        border: none;
        color: var(--text-50);
        background-color: var(--accent-400);
        border-radius: 5px;
        cursor: pointer;
        font-weight: 500;

        &:disabled {
          cursor: not-allowed;
          background-color: gray;
        }
      }
    }
  }

  .separator {
    height: 80%;
    width: 2px;
    background-color: var(--background-100);

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
